.left-margined {
  margin-left: 10px;
}

.button-normalizer {
  min-width: 10em;
}

.button-normalizer#advanced-results-button {
  margin-right: 10px;
}

.button-normalizer#screenshot-download {
  margin-right: 10px;
}

.results-general {
  margin-top: 5px;
}

.button-bar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.nodes-visualized {
  display: flex;
  flex-wrap: wrap;
  place-content: space-evenly;
}

.skip-to-top {
  position: fixed !important;
  bottom: 25px;
  right: 50px;
  z-index: 100;
}
