.card-container__title {
  text-align: center;
  padding: var(--pf-global--spacer--sm) !important;
}

.card-container__disk-section {
  display: flex;
  align-self: center;
}

.card-container-disk-section__count {
  margin-left: var(--pf-global--spacer--lg) !important;
}

.card-container--alignCenter {
  display: flex;
  align-self: center;
}
