@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  font-family: "Red Hat Display", sans-serif;
}

.body-container {
  display: flex;
}

.custom-container {
  margin: 10px;
  padding: 15px;
  height: calc(100vh - 20px);
  background-color: #fff;
}

.body-lhs {
  max-width: calc(50vw - 50px);
  min-width: calc(50vw - 150px);
  padding-right: 10px;
  border-right: 1px solid #0d0d0d60;
  flex-grow: 1;
}

.body-rhs {
  margin-left: 10px;
}

.header--border {
  padding: 2px;
  border-bottom: 1px solid #0d0d0d60;
}

.header--content {
  background-color: #b7b7b7;
  margin: 10px 0;
  padding: 15px 10px;
}

.header--warn {
  background-color: orangered;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: large;
}

.button-bar {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.button-bar > .btn {
  margin: 0 0.5em;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 1em;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
}

.text {
  width: 100%;
  margin-top: 20px;
}

.logo {
  background: url('../images/ocs-logo.png')
    100% no-repeat;
  background-size: contain;
  background-position: left center;
  margin: 5px 15px;
  padding: 0;
  width: 60vw;
}

.hard {
  font-weight: 900;
}

.medium {
  font-weight: 700;
}

.light {
  font-weight: 500;
}

#canvas {
  width: 100% !important;
  height: 100% !important;
}

.test-result-text {
  margin: 10px 0;
}

.test-result-text__line {
  line-height: 1.5em;
}

.rs-block {
    margin: 10px 0 10px 10px;
}

.node-list {
  margin-left: 5px;
}

.node-list__item {
    margin-left: 10px;
}

.advanced-result-item__header {
  font-weight: 900;
}

.rs-block__title {
  font-weight: 700;
}

.node-list__title {
  margin: 10px 0;
}

.node-list__subtitle {
  margin-bottom: 5px;
}

.sku-block {
  margin-left: 10px;
}

/* Mobile CSS Begins from Here */
@media (max-width: 1200px) {
  .body-container {
    flex-direction: column;
  }
  
  .body-lhs {
    max-width: none;
    border-right: none;
    padding-right: none;
    margin-bottom: 1em;
  }

  .test-result-text__line {
    padding-bottom: 5px;
  }

  .body-rhs {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .logo {
    height: 75px;
    width: 100%;
  }

  .text {
    text-align: center;
  }
}

/**Styles for FAQ Page **/

.center-text {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.faq-link {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    /* width: 100%; */
}

.faq-link > a {
  display: flex;
  font-weight: 700;
  color:#fff;
}

.faq-link > a > i{
  padding-right: 4px;
  padding-top: 2px;
}

.img-disk {
  height: 80px;
  object-fit: cover;
}