@media (max-width: 425px) {
  .ms-modal {
    width: 90vw !important;
  }
}
@media (min-width: 425px) and (max-width: 1024px) {
  .ms-modal {
    width: 70vw !important;
  }
}

.ms-modal {
  min-height: 50vh;
}

.ms-create__form--cloud {
  margin-bottom: 15em !important;
}

.ms-modal .pf-c-select__menu {
  max-height: 30vh;
  overflow: scroll;
}
