.body-container {
  display: flex;
  padding: 10px 20px;
}

.custom-container {
  margin: 10px;
  padding: 15px;
  height: calc(100vh - 20px);
  background-color: #fff;
}

body {
  background-color: #b7b7b7;
}

.body-lhs {
  max-width: calc(50vw - 50px);
  padding-right: 10px;
  border-right: 1px solid #0d0d0d60;
}

.body-rhs {
  margin-left: 10px;
}

.header--border {
  padding: 2px;
  border-bottom: 1px solid #0d0d0d60;
}

.header--content {
  background-color: #b7b7b7;
  margin: 10px 0;
  padding: 5px 5px;
}

.button-bar {
  display: flex;
  margin-bottom: 1em;
}

.button-bar > .btn {
  margin: 0 0.5em;
}
