.workload__Modal {
  min-height: 450px;
}

.workload__dataList--center {
  display: flex;
  align-self: center;
  align-content: center;
  width: 100%;
  justify-content: space-around;
}

.workload__checkbox {
  margin: 2em 0;
}
