.planner-form {
  margin: 1em 2em 0 2em !important;
  max-width: 1200px;
}

/* Required for labspace */
.pf-c-number-input input {
  margin-bottom: 0px !important;
}

@media (max-width: 425px) {
  .storage-page__config {
    flex-direction: column !important;
  }
}
